{% load static %}
  <header>
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
        <a class="navbar-brand" href="{% url 'books:index' %}">
          <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          <span style="color:rgb(255, 255, 255)">Book</span>shop
        </a>
        <form class="form-inline search ml-3" action="{% url 'books:search_results' %}" method="get">
          <i class="fas fa-search mr-2"></i>
          <input name="q" class="form-control mr-sm-2" type="text" autocomplete="off" placeholder="Search">
        </form>
        <ul class="nav nav-pills">
          {% with request.resolver_match.view_name as view_name %}
                    
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'cart:cart_view' %}active{% endif %}" href="{% url 'cart:cart_view' %}">
              Cart
              {% if total_items > 0 %}
                 - <span class="nav-item" >{{ total_items }}</span>
              {% endif %}
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if view_name == 'users:profile' %}active{% endif %}" href="{% url 'users:profile' %}">User: {{ user.username }}</a>
          </li>
          {% else %}
          <li class="nav-item">              
            <a class="nav-link 
               {% if view_name  == 'users:login' %}active{% endif %}"
               href="{% url 'users:login' %}"
            >
            Login
            </a>
          </li>
          <li class="nav-item">              
            <a class="nav-link 
               {% if view_name  == 'users:signup' %}active{% endif %}"
               href="{% url 'users:signup' %}"
            >
            Sign up
            </a>
          </li>
          {% endif %}
          {% endwith %}
        </ul>
        {# Конец добавленого в спринте #}
      </div>
    </nav>
  </header>
  
