{% extends 'base.html' %}

{% block title %}Cancelled Payment{% endblock %}

<section class="section">
    <div class="container">
      <p>Your payment was cancelled.</p>
    </div>
</section>

{% block content %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Your payment was cancelled.</h4>
        <p>Your cart is empty now!</p>
    </div>
    <a href="{% url 'books:index' %}" class="btn btn-primary">To the main page</a>
</div>
{% endblock %}